/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sequencer-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.step {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.step.active {
  background-color: #ff009d;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="range"] {
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #df39c9; 
  color: white;
  padding: 10px 20px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .navbar-brand {
  font-size: 1.5rem;
}

.Navbar .navbar-nav {
  margin-left: auto;
}

.Navbar .nav-link {
  color: white;
  margin: 0 10px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.Navbar .nav-link:hover {
  background-color: #495057;
  color: #fff;
}

footer {
  background-color: #df39c9; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
}


a.nav-link {
  color: #fff;
}

a.navbar-brand {
  color: #fff;
}
 */

 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Syne+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

 body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App-body {
  color: #ff00c8; 
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: "Geostar Fill", serif; */
  font-family: "Bruno Ace SC", sans-serif;
  /* font-family: "Tektur", sans-serif; */
  /* font-family: "Rock 3D", system-ui; */
  /* font-family: "Bruno Ace", sans-serif; */
  /* font-family: "Stalinist One", sans-serif; */
  /* font-family: "Nosifer", sans-serif; */
  /* font-family: "Red Hat Mono", monospace; */
  font-family: "Creepster", system-ui;
  /* font-family: "Kalnia Glaze", serif; */
  /* font-family: "Orbitron", sans-serif; */
  margin-top: 60px; 
  text-align: center;
  padding: 2rem;
  /* background-color: #282c34; */
  background-color: rgb(0, 0, 0);
}

/* Header */
header {
  background-color: #df39c9;
  color: rgb(215, 54, 167);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Navbar .navbar-brand {
  font-size: 1.5rem;
}

.Navbar .navbar-nav {
  margin-left: auto;
}

.Navbar .nav-link {
  color: white;
  margin: 0 10px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.Navbar .nav-link:hover {
  background-color: #495057;
  color: #fff;
}

.sequencer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 640px;
}
.h2{
  font-family: "Bruno Ace SC", sans-serif !important;
}
.h1{
font-size: 72px;}
.step-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.drum-pad-container {
  margin-right: 10px; 
}

.step {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px; 
  transition: background-color 0.3s;
}

.step.active {
  background-color: #ff00ff;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #61dafb;
  color: #ff00ff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

.drum-pad {
  font-family: "Bruno Ace SC", sans-serif;
  background-color: #ff00ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.drum-pad:hover {
  background-color: #cc00cc;
}

.drum-pad:active {
  transform: scale(0.95);
}

.drum-pads {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.play-button {
  background-color: #ff00ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #0056b3;
}


input[type="range"] {
  margin: 20px 0;
}

footer {
  background-color: #df39c9;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.input.tempo-input{
  background-color: #df39c9;

}